<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>Admineno</param-name>
        <param-value>1002</param-value>
    </context-param>
    <context-param>
        <param-name>Adminpass</param-name>
        <param-value>222</param-value>
    </context-param>
    <context-param>
        <param-name>DbName</param-name>
        <param-value>college_management</param-value>
    </context-param>
    <context-param>
        <param-name>DbPass</param-name>
        <param-value>admin</param-value>
    </context-param>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.TeacherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentDetails</servlet-name>
        <servlet-class>com.mycompany.college_management.UpdateStudentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFacultyServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.SearchFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFacultyDetailsServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.UpdateFacultyDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHODServlet</servlet-name>
        <servlet-class>com.mycompany.college_management.AddHODServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <url-pattern>/Teacher.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/SearchStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentDetails</servlet-name>
        <url-pattern>/UpdateStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFacultyServlet</servlet-name>
        <url-pattern>/SearchFaculty.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFacultyDetailsServlet</servlet-name>
        <url-pattern>/UpdateFac.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHODServlet</servlet-name>
        <url-pattern>/AddHOD.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Student_Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
